<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Total cents:</strong>
    <%= order.total_cents %>
  </p>

  <p>
    <strong>Stripe payment:</strong>
    <%= order.stripe_payment_id %>
  </p>

</div>
